@use '@/shared/lib/styles/helpers' as *;

.create-application-form {
  @include fluid-text(16, 12);

  display: flex;
  column-gap: rem(50);
  padding: rem(30) rem(70);

  // overflow-y: auto;

  &__info, &__cargos-list {
    z-index: 1;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
  }

  &__cargos-list {
    flex: 1.5;
  }
}

.form-error {
  margin-top: rem(6);
  font-size: rem(13);
  color: var(--color-red-70);

  &--reserved {
    min-height: rem(20);
    margin-top: 0;
    margin-bottom: rem(6);
    visibility: hidden;

    &[aria-hidden="false"] {
      visibility: visible;
    }
  }
}
