@use '@shared/lib/styles/helpers' as *;

.empty-state {
  @include fluid-text(14, 12);
  display: flex;
  flex-direction: row ;
  row-gap: rem(30);
  align-items: center;
  justify-content: center;
  text-align: center;

  &__message {
    width: 200px;
  }

  @include laptop-above {
    &__empty-emblem {
      width: rem(100);
      height: rem(100);
    }
  }

  @include laptop {
    &__empty-emblem {
      width: rem(100);
      height: rem(100);
    }
  }
}